//Mes propres classes utilitaires

$utilities: map-merge(
  $utilities,
  (
    //Pour ajouter de la transparence à mes éléments HTML
    "opacity": (
      property: opacity,
      class: o, 
      responsive: true,
      values: (
        0: 0,
        10: .1,
        20: .2,
        30: .3,
        40: .4,
        50: .5,
        60: .6,
        70: .7,
        80: .8,
        90: .9,
        100: 1,
      )
    ),
    //Autres Classes Utilitaires
  )
);