//Couleurs
$primary: #0a66c2;//Boutons principaux, Liens importants, Bordures, Icônes
$secondary: #66a3ff;//Boutons secondaires, Eléments décoratifs, Lignes de séparation
$light: #f0f7ff;//Background Section, Card, Formulaires
$dark: #060d1a;//Titres, textes, Footer, Navbar

//Polices
$font-family-sans-serif: 'Roboto', sans-serif;//Corps de Texte
$headings-font-family: 'Roboto Condensed', sans-serif;//Titres
$headings-font-weight: 700;//Graisse des titres